[2014-11-18 18:39] ziyasal opened #4 "Support streaming gets and produce events for item added, updated, and removed"

[2015-01-27 16:24] sundaywork commented on #4
how to attach events monitor for data change?

[2015-02-19 19:04] ziyasal commented on #4
Hi @sundaywork;

To minitor data change, simply;
[code]
For running [sample](https://github.com/ziyasal/FireSharp/blob/master/FireSharp.Test.Console/Program.cs)

[2015-02-19 23:47] pjhuck opened #7 "FirebaseClient does not verify response status codes"
The FirebaseClient never verifies that it receives a 200 or 204 response code for all of its requests. Instead, it assumes that any response is successful. Even worse, the status code is never exposed to the  caller's, so it's impossible to verify that the response was successful unless you parse the FirebaseResponse.Body, which is not very practical.

This can be verified by doing the following:

[2015-02-20 06:56] ziyasal commented on #7
Hi @pjhuck ,
Thanks for your feedback and contributions. I know there are some issues about verify response status codes and exception handling strategy. I was very busy to refactor them. You right; I prefer like following example; so, I'm happy to see a pull request which fixes this :+1:
[code]

[2015-02-20 11:35] ziyasal commented on #4
Added with [f61e2f8](https://github.com/ziyasal/FireSharp/commit/fa74598bd4d0859cdffbee2486a505f1ff359bd5)

[2015-02-20 11:35] #4 closed

[2015-02-21 10:25] ziyasal commented on #7
Solved with [8](https://github.com/ziyasal/FireSharp/pull/8)

[2015-02-21 10:25] #7 closed

[2015-03-06 17:22] bhdebrito opened #9 "Async Methods"
Hi,

Why all methods now are async?

Sometimes we don't need/want to call it in async context, now we are creating Task to do the job.

A solution that I propose is create two FirebaseClient, one async another sync.

I will do that and create a pull request.

[2015-03-06 17:30] bhdebrito opened #10 "FirebaseResponse - OnAsync"
Hi again!

Now I'm using OnAsync to watch a path. The event handler are sending property by property, why just not send entire object?

Maybe create a T method that convert the Json response to a complex object?

In this case I'm with some problems to undestand all the context to change that, so I'll have some dificulties to create a pull request.

[2015-03-06 17:45] ziyasal commented on #9
Hi @bhdebrito
Asynchronous call support as non-blocking io matters a lot nowadays.

Also, There is [an article here](http://blogs.msdn.com/b/pfxteam/archive/2012/04/13/10293638.aspx) related this.

[2015-03-06 17:46] ziyasal commented on #10
Hi @bhdebrito I'll take a look asap.

[2015-03-06 18:04] ThumbDog commented on #9
I would like to have the non-async calls just for the sake of "debugging" as I find debugging async calls somewhat tedious. I'm still searching for a good strategy on this. btw - great job on this project @ziyasal !!!

[2015-03-06 18:14] bhdebrito commented on #9
@ziyasal I understand that matters a lot, but we are upgrading from 1.10 version, now we are troubleshoot with last implementation.

I read the article, but why just not give the power of choice to us? I believe that when this project grow up, another programmers will want this!

@ThumbDog This project is awesome! I believe that will grow up with Firebase!

[2015-03-06 18:24] ziyasal commented on #9
@ThumbDog and @bhdebrito  thanks for your comments. I'll take a look to bring back asap so if you already working on please let me know.

Thanks.

[2015-03-06 18:26] bhdebrito commented on #9
@ziyasal I'm working! Let this with me!

[2015-03-16 13:19] bhdebrito commented on #10
That's ok now!

On last release there is a GetAsync and OnChangeGetAsync

[2015-03-16 13:19] #10 closed

[2015-03-16 13:19] bhdebrito commented on #9
There are same sync methods for all async methods!

[2015-03-16 13:19] #9 closed

[2015-05-19 11:57] timblackwell opened #15 "Serializer specified in FirebaseConfig not used when calling the object extension ReadAs"
When using custom serializer passed in through the FirebaseConfig, you would expect the object extension ReadAs to use that ISerializer however it uses a new JsonNetSerializer object to deserialize.

Can this behaviour be changed?

[2015-05-24 15:15] ziyasal commented on #15
@timblackwell Thank you for your feedback; to fix this temporarily use following code;
[code]

[2015-05-25 18:55] larsvi opened #16 "OnAsync incorrect if multiple children exist"
UPDATE: It would seem that the following line in TemporaryCache.UpdateChildren solves the problem. Please verify and incorporate into source code if correct..

[code]

END UPDATE.

Start with a Firebase where multiple children already exist:
{
  "todos" : {
    "push" : {
      "-Jq6BpBSCa3zmrWVSIj8" : {
        "name" : "Execute PUSH",
        "priority" : 2
      },
      "-Jq6CBIN1B0Xx5X0rzbJ"

[2015-05-29 10:18] timblackwell commented on #15
Thanks, this works perfectly for me.

[2015-05-30 12:30] janpieterz opened #17 "Supporting the offline sync"
What are your thoughts on supporting the new offline sync feature that has been developed for the Android and iOS SDK's? A link to their explanation: https://www.firebase.com/blog/2015-05-29-announcing-mobile-offline-support.html

[2015-05-30 20:29] #15 closed

[2015-06-01 12:23] ziyasal commented on #17
Hi @janpieterz , I'll take a look at to details asap.

[2015-06-05 05:18] Sun3 commented on #17
That would be awesome.

[2015-06-05 06:51] Sun3 opened #18 "Crash under Windows 10 Universal App xaml"
I am getting a crash on any of the commands to read, post and so on.

This line in the Button Event will crash.
[code]

Error:
Message = "System.IO.FileNotFoundException: Could not load file or assembly 'System.Net, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e, Retargetable=Yes' or one of its dependencies. The system cannot find the file specified.\r\n   at AppFireSharp....

I

[2015-06-06 15:06] ziyasal commented on #18
Hi @Sun3 I'll take a look asap, thanks for your feedback.

[2015-06-06 19:21] Sun3 commented on #18
Sounds great. By the way will you be supporting Firebase new offline sync?

Thank you for a great library.

[2015-06-16 16:16] stvansolano opened #19 "Support for 3-way data binding"
Hey guys,

Any thoughts about supporting 3-way databinding with a MVVM framework in .Net? Just like Angular does for web development

https://www.firebase.com/blog/2013-10-04-firebase-angular-data-binding.html

I'm interested in develop something like that in case it is not a similar implementation

[2015-06-28 15:44] ziyasal commented on #19
Hi @stvansolano; I'm familiar to [Caliburn Micro](https://github.com/Caliburn-Micro). It might be nice to implement some features with it or similar libraries. Any thoughts?

[2015-06-28 15:58] ziyasal commented on #17
Hi @janpieterz; I examine offline data synchronization techniques and tools to implement this feature easily. So, I'm continue to research.

[2015-06-30 17:18] stvansolano commented on #19
Hello @ziyasal

Definitely will have it in mind and probably take approach from the BindableCollection class. Hope to have some initial code to warn things up :)

[2015-06-30 19:40] Sun3 commented on #17
Sounds good and really looking forward to this feature.

[2015-07-06 21:02] Sun3 commented on #18
Hi @ziyasal Checking to see if there were any solutions to the Windows 10 Universal App issue. Since Windows 10 will be released this July 31st I was hoping to submit an app before that.

Thank you.

[2015-07-13 00:16] DavidRieman opened #20 "Unclear which Target Frameworks are supported."
I'm using Visual Studio 2010 Premium.  I had to use the NuGet commandline to try to install it as directed by the readme, since it wasn't showing up in the normal Extension Manager Online Gallery.

With a brand new project, I've tried retargeting .NET 3, .NET 4 Client Profile, and .NET 4, and always getting errors like the following:

Install-Package : Could not install package 'FireSharp 2.0.3'.

[2015-07-13 00:51] DavidRieman commented on #20
Got this working.  Had to switch to a less convenient machine, in order to get > Vista, in order to get > VS2010, in order to get .NET targeting > 4.0, in order to get the FireSharp package to take.  So I suspect you can list development environment requirements as Windows 7+, .NET 4.5 (Client?)+, VS 2012+.

[2015-07-13 02:35] DavidRieman opened #21 "BasePath must end with a trailing slash"
Trailing slashes on configuration URIs are generally expected to be optional.  If missing, we get an exception trying to resolve something like "...firebaseio.comfoo.json" instead of the URI being combined correctly.

[2015-07-13 08:03] ziyasal commented on #20
Hi @DavidRieman , I'll take a look at this asap. Thank you for your feedback.

[2015-07-14 17:10] DavidRieman commented on #21
I'll fork and fix this one later.

[2015-09-08 08:35] ThomasCle opened #24 "Nuget installs several versions of the library"
I am using Nuget to add the library to a class library, which runs .NET 4.5. But Nuget installs a lot more than just the 4.5 versions (see the list below). Is there any way to control which version Nuget downloads?

packages/FireSharp.2.0.3/FireSharp.2.0.3.nupkg
packages/FireSharp.2.0.3/lib/portable-net45+sl5+wp8+win8/FireSharp.dll
packages/Microsoft.Bcl.1.1.9/License-Stable.rtf
packages/Microsoft

[2015-09-16 11:04] ThomasCle opened #25 "Cancel OnAsync()"
I am using the "OnAsync" method. Is there a way to stop the listening for events? In my case the user can disable the tracking of changes and then I would like to cancel the OnAsync.

There is a cancel implemented internally, but it is not implemented to client.

Thanks.

[2015-09-17 08:55] ziyasal commented on #25
@ThomasCle Thanks for your feedback, you can stop listening for events by calling [EventStreamResponse](https://github.com/ziyasal/FireSharp/blob/master/FireSharp/Response/EventStreamResponse.cs)'s [Dispose](https://github.com/ziyasal/FireSharp/blob/master/FireSharp/Response/EventStreamResponse.cs#L134) method.  Here is sample code;

[code]

[2015-09-17 08:55] #25 closed

[2015-09-20 17:09] anujb opened #26 "User ModernHttpClient on Xamarin Targets"
I'm not sure whether this is feasible, but it would eliminate a ton of potential issues with the Microsoft HTTP Client libraries on Xamarin.

[2015-09-22 01:30] Sun3 opened #27 "childByAutoId"
Is there support for ```childByAutoId``` in order to get the the unique key generated by childByAutoId: is prefixed with a client-generated timestamp so that the resulting list will be chronologically-sorted.

Thanks

[2015-10-01 10:13] katopz opened #28 "Unity3D support?"
I try to `nuget` to Unity5 project via VS2015 v14 but it throw...

[code]

So it's not support Unity am I right? Or maybe some magic workaround to make it work?

Thanks

[2015-10-02 05:26] mjk0104 commented on #16
Thanks for this fix Lars, saved me a lot of headaches.

Can this be pulled into the main branch? It's seems like some fairly core functionality to be broken...

[2015-10-13 19:18] yonguelink commented on #20
I am also running into the same issue, and I couldn't find the DotNet requirement. As @DavidRieman said, it'd be nice to know the requirements, is it required to have .Net > 4.5?

Thanks

[2015-10-15 20:23] robomotic opened #29 "authWithPassword API"
Hello there,
I am using your library since today and is wonderful.
I was looking also to use the custom authentication protocol from my client as they show in the javascript library:

[code]

Are you planning to implement this?

[2015-12-01 21:05] MrWolfZ commented on #16
I would be interested in seeing this fix in the main branch as well.

[2015-12-15 13:38] kittythecat commented on #20
I get: "Could not install package 'FireSharp 2.0.3'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework." Trying to use this package for a Xamarin project. Am I doing something wrong?

[2015-12-21 07:15] OmerObaid opened #30 "OnAsync Call back"
Hi,

var response = await client.client.OnAsync ("Todo/", (sender, args) => {
              Debug.WriteLine ("Hello");
              Debug.WriteLine (args);
});

Im trying to implement FireBase in my application(XF). I am facing an issue, When i Push "Todo" object in FireBase it comes to "OnAsync" call back and in "args" i m not receiving full Todo object. For example if Todo consits three attribu

[2015-12-31 20:11] sonicblis commented on #30
The problem is that .NET has no idea how to create an object out of what you get from firebase by default.  You're getting three notifications because FireSharp is taking each of the three paths from the object and providing you the values in a name/value type of object that can support any data structure you store in Firebase.  I agree that it is a little problematic if you're trying to trigger e

[2016-01-07 13:31] Andr2d2 commented on #20
Cant install on framework 4.0.

"Install-Package : Could not install package 'FireSharp 2.0.3'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.0', but the package does
not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author."

Any advice?

[2016-01-11 11:22] kittythecat commented on #20
Still get problems with firesharp together with Xamarin.

Could not install package 'FireSharp 2.0.3'. You are trying to install this package into a project that targets 'portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author

[2016-01-21 11:17] gondar00 commented on #20
Could not install package 'Microsoft.Bcl.Build 1.0.14'. You are trying to install this package into a project that targets 'MonoAndroid,Version=v6.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

Adding Microsoft Build - from nuget first Microsoft.Bcl.Build.1.0.21
and then addin

[2016-01-25 22:40] kevindfs opened #32 "Fail response push function"
Response at push function fail in "response.Result.Name"
Probably "Name" must be change by "name"

Response of push function using postman:
![image](https://cloud.githubusercontent.com/assets/7023673/12566964/531f8d32-c39b-11e5-8cce-e5ea1fdd32be.png)

[2016-02-19 11:34] Whyser commented on #28
As Unity doesn't support latest C#, things like `async` and `await` won't work, unless you are ONLY building for the Windows Store Platform, in which you can wrap all your code inside #if UNITY_METRO (or equivalent).

Since Firebase now have support (beta) for Unity (for Android and iOS), it would be nice for someone to wrap FireSharp as an temporary solution in their implementation. But it doesn'

[2016-02-21 13:38] katopz commented on #28
Thanks

[2016-02-21 13:38] #28 closed

[2016-02-29 11:14] acorreiatp opened #35 "Whindows Phone 8.1"
is not possible install this packge in Windows phone 8.1.

Error Could not install package 'FireSharp 2.0.0'. You are trying to install this package into a project that targets 'WindowsPhoneApp,Version=v8.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.			0

[2016-02-29 19:39] TiagoGouvea opened #36 "Firebase server timestamp"
I tried to send data with server timestamp in FireSharp, but without success.

My references:
https://www.firebase.com/docs/web/api/servervalue/timestamp.html to javascript
http://stackoverflow.com/questions/26129077/can-firebase-server-timestamps-be-written-without-making-two-requests to REST

How to do it with FireSharp?

[2016-03-15 06:00] mankan1 commented on #35
Any plans to support Windows 8.1

[2016-04-08 08:29] ArildBelsvik commented on #16
This is still a problem in version 2.0.3 of FireSharp

[2016-04-18 12:43] AndreiEzhov commented on #36
If you log the Firebase.ServerValue.TIMESTAMP value from the Javascript API you'll see that it's just an object with a special server value key (.sv) with the value "timestamp".
`{.sv: "timestamp"}`

You can create that a property like that on your class and have it be serialized with the rest of it.
[I created a gist](https://gist.github.com/AndreiEzhov/2bc630181adbd5c59971ae4cdf217ce7).

[2016-04-18 14:30] TiagoGouvea commented on #36
Great! Thanks!

[2016-04-18 14:30] #36 closed

[2016-04-20 03:29] oransel commented on #29
+1

[2016-04-21 11:31] AndreiEzhov commented on #36
BTW, I updated it to something that may be easier.

[2016-04-27 22:50] GeorgeMicro commented on #18
Has this issue been fixed? I am trying firebase on Xamarin Studio and getting the same error.

[2016-04-28 11:23] bezysoftware opened #38 "Failing test"
There is a failing test: https://ci.appveyor.com/project/ziyasal/firesharp

[2016-04-28 11:25] bezysoftware commented on #16
Still broken. Can we please have this merged?

[2016-05-09 04:21] Zaid-Mirza opened #39 "Passing Custom Query in Get Method"
Hi,
Im new to FireSharp. I have some data on firebase. Data Have some relation with other data

-Books
      -HJSSgGGggaggGGArR
             -BookName:"Android"
             -Pages:"400"
             -Editors
                 -HGYgsyysyyysygggy:true
      -HYTRayyYTTtteggErRu
            -BookName:"C# Intro"
            -Pages:"60"
-Editors
      -HGYgsyysyyysygggy
            -EditorName:"Zaid"

[2016-05-09 10:46] ziyasal commented on #39
hi @Zaid-Mirza Please take a look this article [Common SQL Queries Converted for Firebase](https://www.firebase.com/blog/2013-10-01-queries-part-one.html#join)

[2016-05-09 11:13] Zaid-Mirza commented on #39
Hi @ziyasal  this artical looks based on JavaScript. not C#

[2016-05-09 12:27] bhdebrito commented on #39
**Hi Zaid,**

First of all,  *Firebase isn't like a relational database*, There are few ways to do Joins, but Firebase wasn't developed for do that.

Firesharp library don't have support for the "child" and "once" of the Javascript library.

You will need to adapt your model to work with it. I will show you 3 examples how to resolve this problem. Maybe one of them can help you

1. Supposing you wa

[2016-05-09 15:26] Zaid-Mirza commented on #39
https://www.airpair.com/firebase/posts/structuring-your-firebase-data
https://www.firebase.com/docs/web/guide/structuring-data.html

hi @bhdebrito,according to these above mentioned links, Your examples are not patterned according to standards to define relationships on firebase. Im confused at your examples

[2016-05-09 16:32] bhdebrito commented on #39
@Zaid-Mirza

Sorry about them, I don't know your objects and they relationship, so that's examples are very poor for you.

Anyway, in firebase you don't have joins, so you can't use Query, you will need to structure your data.
Look at these articles that you have mentioned, they are helpfull.

[2016-05-09 18:46] Zaid-Mirza commented on #39
I have structured my data as mentioned in links which I have given in comments.My objects have relationships same as in these links. Moral of the story is, FireSharp dont support maintainance of these kind of standard relationship which firebase actually supports?

[2016-05-09 20:06] bhdebrito commented on #39
@Zaid-Mirza,

FireSharp use Official Rest Api.

The official rest api from firebase, https://www.firebase.com/docs/rest/api/, support some query's in Get: https://www.firebase.com/docs/rest/guide/retrieving-data.html#section-rest-queries

![image](https://cloud.githubusercontent.com/assets/7241156/15126036/7ca4c88a-1606-11e6-95e2-f0a4e133bab6.png)

You can use this kind of parameters on Get, but a

[2016-05-09 21:24] ziyasal commented on #39
hi @all [Adds query support for items like orderBy, startAt, endAt, etc](https://github.com/ziyasal/FireSharp/pull/22) merged I'll be publish new version asap.

[2016-05-10 05:40] Zaid-Mirza commented on #39
hi @ziyasal  and @bhdebrito , so i have to use pure Rest API for my solution untill you add Custom query features in FireSharp? Im right?

[2016-05-10 07:50] Zaid-Mirza commented on #39
hi @bhdebrito
im using Indices for relationships as mentioned in below link.
https://www.firebase.com/docs/web/guide/structuring-data.html

[2016-05-10 12:08] Zaid-Mirza commented on #39
hi @ziyasal , You updated  FireSharp, but QueryBuilder have no Constructor. Im unable to make object of querybuilder

[2016-05-10 12:11] ziyasal commented on #39
hi @Zaid-Mirza here is sample;

[code]

[2016-05-10 12:56] AlbertAssaad opened #40 "Vb.net responses"
Hello trying to read from firebase via vb.net ("writing is doing fine")
**Class requests.vb:**

[code]
**Data on Firebase:**
[code]
**Vb.net request:**
[code]
My problem that res object is never filled with the data, another issue how can I get a list of requests in my code (if I have several values under requests on the server")?

[2016-05-10 14:10] Zaid-Mirza commented on #39
Now, Im getiing error index not defined, Even I have defined .indexOn my field in secruity and rules

[2016-05-11 08:26] #39 closed

[2016-05-11 09:52] Zaid-Mirza opened #41 "FireSharp Retrieval Concept"
Hi Scenario is,

Im new to Firebase, I have Structure my Data on firebase using Indices for maintaining relationshi as described in below articles
https://www.firebase.com/docs/web/guide/structuring-data.html
https://www.firebase.com/blog/2013-04-12-denormalizing-is-normal.html

I just want to clear my retrieval concept on firebase.

as mention in above links
{
  links: {
    link1: {
      title:

[2016-05-12 04:13] Zaid-Mirza commented on #41
any body available?

[2016-05-12 13:01] koolkao opened #42 "Nuget clean installed 2.0.4. But Xamarin.iOS app looking for 2.0.3"
As noted, Nuget clean installed 2.0.4, and i added it to a clean new project that has never had FireSharp before.

But when i run the simple Xamarin.iOS app , it fails due to "Could not load file or assembly 'FireSharp, Versuon=2.0.3.0, ..."

Is there some place where "2.0.3.0" was referenced?

[2016-05-18 09:54] doreto commented on #17
Has this been implemented ?

[2016-05-20 05:00] curiousdork opened #43 "Facebook and Google authentication?"
Is there a way I can use the facebook/google auth for Firebase?  I want my app to auth against facebook or google (I don't use email/passwords at all).  Any help?

[2016-05-20 07:32] jbresco opened #44 "The request was aborted"
Hello!

Sometimes, the Firesharp throw an exception like this: "_The request was aborted: Could not create SSL/TLS secure channel. at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult) at System.Net.Http.HttpClientHandler.GetResponseCallback(IAsyncResult ar)_"

There are any way to ignore the certificate?

Thank you so much!

[2016-05-20 17:58] gdavalos opened #45 "Firebase 3.0 support?"
Will you update the library so that it works with the newest update?

[2016-05-21 12:28] aayaffe commented on #45
I second! The new feature of storing files is very much required

[2016-05-22 12:23] sindresola commented on #20
I had the same problem when trying to install the package to a "Blank App (Native Portable)". I created  a "Blank App(Xamarin.form Portable)" and the package installed with no problem.

[2016-05-24 06:28] ngducnghia commented on #29
I'm looking for a way to authenticate client via Firesharp. This would be awesome

[2016-05-24 07:58] robomotic commented on #29
I am going to publish it then . The problem is that it will break very soon with the new API they released like 3 days ago I guess ....

Sent from my iPhone

[2016-05-24 14:38] allnightcoder commented on #29
Did you publish this somewhere? I'm also interested in this. Thanks robomotic

[2016-05-27 02:20] MarkLawson commented on #20
I am having the same issue, trying to install FireSharp 2.0.4 in a Xamarin Portable project.

[2016-05-29 14:40] moonpyk commented on #45
@aayaffe The storing files part is already available with the classic Google Cloud Platform API clients, Firebase storage is a simple GS bucket named after your Firebase project.

[2016-06-01 19:57] moonpyk commented on #38
Everything is now back to normal :)

[2016-06-01 19:57] moonpyk commented on #38
@ziyasal I think the issue can be closed now ;)

[2016-06-01 20:04] moonpyk commented on #26
@anujb As of Xamarin.Android 6.1 you can do that by overriding an env variable in your app :

https://developer.xamarin.com/releases/android/xamarin.android_6/xamarin.android_6.1/#Native_HttpClientHandler

[2016-06-02 04:44] #38 closed

[2016-06-04 16:44] bezysoftware commented on #35
Check out https://github.com/step-up-labs/firebase-database-dotnet it support WP8.1 & Windows 8.1 and UWP

[2016-06-06 10:40] moonpyk opened #50 "[Proposal] Firebase 3 compatibility, remove users management functions"
Since firebase 3, the way of managing the users definitively changed, the API endpoints have vanished, it seems that the API has never been made public and got reverse engineered from Node SDK source code.

In my humble opinion, we should remove the entry points to those undocumented APIs moreover they won't work for new projects, until Google makes a move on those points Fire# should not give the

[2016-06-06 14:15] ziyasal commented on #50
hi @moonpyk I havent find a time to check v3 changes. I agree with you, we can remove them from Fire# IMO. These changes came with a pull request by @tillerstarredwards. Maybe they need these methods and we can document user management API implementations with warning or move them to other client implementation and then document it with warning.

If everybody happy to remove them , we can do then.

[2016-06-06 14:41] tillerstarredwards commented on #50
We added these so that we could do user management from C#.  We have a project that is using this that we won't want to migrate to firebase v3 until there is this sort of functionality.  The UI in V2 was not feasible for managing 25k users.  I'm cool with deprecating the functions and moving them towards end of life...

[2016-06-06 16:09] moonpyk commented on #50
Oki, I'll adress a PR doing that.

For now, I think that user management would be a great feature to add, but needs to go in another assembly (allowing to pull supplementary dependencies), the core functionality should stay portable.

[2016-06-07 17:54] GroupeEDTECH commented on #45
Hi,
am I wrong or in the new  Firebase V3 app, there isn't any AuthSecret  to use to connect with ?
If I'm wrong, can you tell me how I can connect to Firebase V3 with FireSharp ?
Thanks.

[2016-06-08 07:15] ziyasal commented on #45
Hi @all I have not find a time to check what's new. I will take a look at details and will determine a road-map to implement new features, asap.

[2016-06-08 09:32] moonpyk commented on #45
@GroupeEDTECH Go to the new firebase console, click on the gear > Project parameters.

Then go to the Database tab, the legacy token generator is there, there is always at least one legacy token for each RT-Database.

Regards.

[2016-06-09 15:01] WiseNN opened #52 "Bug - App Looking for System.Net.Http Version=1.5.0.0"
All assemblies are imported as necessary. I am getting a runtime error.
[code]

![screen shot 2016-06-09 at 10 58 43 am](https://cloud.githubusercontent.com/assets/17106171/15934375/52ba8986-2e31-11e6-9cac-1b0a024b4630.png)
![screen shot 2016-06-09 at 10 58 55 am](https://cloud.githubusercontent.com/assets/17106171/15934376/5304ea1c-2e31-11e6-9db2-6df69849c415.png)

Is this dependent on an older v

[2016-06-09 20:06] GroupeEDTECH commented on #45
Cool!!
Thanks @moonpyk !!    I try it right now !!

[2016-06-09 22:42] Brian-Blanchard opened #53 "Redirect on SetAsyn or Update Async"
Firebase for Nest forces redirects. This works just fine on GetAsync and OnAsync.

However, it errors out on SetAsync and UpdateAsync, returning the following error:

This seems to be in error. Has this bug shown up in the past? Any help with resolution would be greatly appreciated.

[2016-06-20 13:22] fernandoot opened #54 "Found possible error in PrepareUri, Class RequestManager"
When no auth queryStr start with & instead ?

The proposal to fix.....

private Uri PrepareUri(string path, QueryBuilder queryBuilder)
        {
            var authToken = !string.IsNullOrWhiteSpace(_config.AuthSecret)
                ? $"{path}.json?auth={_config.AuthSecret}"
                : $"{path}.json";

            var queryStr = string.Empty;
            if (queryBuilder != null)

[2016-06-20 14:29] fernandoot commented on #40
firebaseclient = New FireSharp.FirebaseClient(conf)
       Dim res As New Requests
       Dim response = Await firebaseclient.GetAsync("Requests")
       Dim res = response.ResultAs(Of Dictionary(Of String, Requests))
       MsgBox(res.First().Name)

[2016-06-21 07:49] AlbertAssaad commented on #40
This is what I did, Thanks a lot

[2016-06-21 07:49] #40 closed

[2016-06-23 03:22] csotomon commented on #54
Or another solution is add a ? at the end of  127 line

private Uri PrepareUri(string path, QueryBuilder queryBuilder)
        {
            var authToken = !string.IsNullOrWhiteSpace(_config.AuthSecret)
                ? $"{path}.json?auth={_config.AuthSecret}"
                : $"{path}.json?";

            var queryStr = string.Empty;
            if (queryBuilder != null)
            {

[2016-06-27 03:54] ntdatgoquovn commented on #39
Hello Zaid-Mirza,
About  error index not defined, Even I have defined .indexOn my field in secruity and rules. You already fixed? Please support me on this.

Thanks.

[2016-06-28 05:39] Zaid-Mirza commented on #39
If you are collaborator of project at firebase. Then security rules will
not work. Owner of application have to define rules
On Jun 27, 2016 8:54 AM, "dat nguyen" <notifications@github.com> wrote:

[2016-06-29 12:42] doczoidberg opened #56 "Incompatible with .Net Core"
`Package FireSharp 2.0.4 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package FireSharp 2.0.4`

Will there be compatiblity with the new .Net core?

[2016-06-29 16:40] lordplagus02 opened #57 "Confusion over BasePath field"
I'm not sure what is actually required to configure this library because I don't see anything about BasePath on [these Google docs](https://firebase.google.com/docs/cloud-messaging/downstream).

I think perhaps this is part of an old version of firebase?

[2016-06-30 09:39] lyquocnam opened #58 "is firesharp realtime support ?"
dear author, is firesharp realtime support ?
can help sample about CRUB ?
if we can handle this, i think it awesome !

[2016-07-04 07:03] #58 closed

[2016-07-04 09:31] ziyasal commented on #58
Hi @lyquocnam It is on my roadmap. It supports Streaming from the REST API currently, thanks.

[2016-07-04 10:29] Skeldave commented on #57
1. Log into your the firebase.google.com
2. Select your app
3. Click 'Database' in the side bar.
4. You should see a URL at the top of the page which is something like:
https://APP_NAME-3bb2a.firebaseio.com/

This is your BasePath

[2016-07-11 06:07] himadrinath commented on #56
@ziyasal **when it well be available for .net core 1.0 ..........**

[2016-07-13 10:21] brothers28 commented on #20
I have the same problem as MarkLawson, sindersola and kittythecat.
**Install-Package : Could not install package 'FireSharp 2.0.4'. You are trying to install a package into a project that targets '.NETPortable,Version=v.4.5,Profile=Profile111', but the package does not contain any assebly references or content files that are compatible with that framework. For more information, contact the package

[2016-07-16 02:51] ntdatgoquovn opened #59 "How to calculate the total records in the tables"
Dear author,

Please let me know. How to calculate the total records in the database.
I want to use it to paging

Thank you very much.

[2016-07-18 11:13] xevilboss commented on #20
I have the same issue.
**Could not install package 'FireSharp 2.0.4'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.**

[2016-07-19 21:11] EricPucho opened #60 "Xamarin Android (SetAsync; UpdateAsync) : Java.Net.ProtocolException: unexpected end of stream"
SetAsync; UpdateAsync not worked on Android but work well on iOS (Xamarin)
GetAsync worked well both (Android and iOS Xamarin)

Trace :
Java.Net.ProtocolException: unexpected end of stream
  at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw () [0x0000c] in /Users/builder/data/lanes/1196/3e934261/source/mono/external/referencesource/mscorlib/system/runtime/exceptionservices/exceptions

[2016-07-19 22:49] kiquetal opened #61 "Using serviceAccount to initalize?"
HI, could I use some examples from this page:https://firebase.google.com/docs/server/setup
 inside FireSharp? Or I need to create the token?

Best Regards

[2016-07-20 18:57] BenjaminHolland opened #62 "Incorrect Path in ValueAddedEventArgs using Client.OnAsync"
I have a program that writes a number of objects to the database, and a listener that dumps the path of each change to the database. When the database is "clean", the program functions as expected. (See FirstRun.txt). However, Subsequent runs return a collection of increasingly large, incorrect paths when the current content of the database is enumerated. (See SecondRun.txt). The data in the datab

[2016-07-22 03:42] AurelienMarin opened #64 "Json problem while response.ResultAs<...>()"
Hello guys,
When I try to get my data with GetAsync() this message appears

[code]

And this are my data in Firebase
![http://puu.sh/qa7rB/450ca3cbc3.png](http://puu.sh/qa7rB/450ca3cbc3.png)

So if you could help me, will be great if you have a solution

(Sorry for my bad english :'( )

[2016-07-23 02:36] AurelienMarin commented on #64
Okay, I found a answer

So the solution:
In my case, I had to use an IDictionnary, so it looks like that

[code]

[2016-07-23 02:36] #64 closed

[2016-07-30 22:44] Qythyx opened #65 "Analytics support"
As far as I can tell FireSharp does not support Firebase analytics. Is there plans to add this?

[2016-08-01 03:43] drasticp commented on #62
I am seeing this as well

[2016-08-04 19:45] cdiddy77 opened #66 "Bug in temporary cache results in malformed tree"
I think this is probably causing #62 among others. Paste the below code into your FiresharpTests and see the failure. When you parse the update from the server, you incorrectly construct the SimpleCacheItem tree. The first member of the collection contains the second member, contains the third, etc. Not sure why that results in 4 notifications

[Test, Category("INTEGRATION"), Category("ASYNC")]

[2016-08-07 22:47] 4nthonylin commented on #66
The reason why the cache is being incorrectly constructed is because in the switch statement on line 86 in "TemporaryCache.cs", there is no case for JsonToken.EndOfObject. To fix all you have to do is add:
`case JsonToken.EndOfObject: break;`

As for why the eventhandler is fired four times is because the eventhandler is called for every single value. Your todo object contains two values hence for

[2016-08-07 22:48] 4nthonylin commented on #62
Check the comment I left for bug #66

[2016-08-13 06:06] dcworldwide commented on #56
This will be huge for my company! Please advise if .net core support is in the works 👍

[2016-08-13 06:13] dcworldwide commented on #56
What is actually involved in porting to .net core? Is it a huge amount of work?

[2016-08-13 13:16] ziyasal commented on #56
Hey @all it is actually in my road map but I am so busy nowadays both personal life and job side. So, It might be delay to make it available.
Thank you!

[2016-08-15 21:10] MarcelMalik commented on #17
Any news on this topic? @ziyasal maybe can we help to implement it?

[2016-08-16 11:43] AzkaarAli opened #67 "Where Clause"
Is there a way to set a where clause when requesting data from Firebase

[2016-08-16 18:42] doreto opened #68 "Storage support"
As far as I can tell FireSharp does not support `Firebase Storage`. Are there plans to add this?

[2016-08-24 16:10] doreto commented on #68
Is anyone working on this ?

[2016-08-26 15:11] krishnendra1987 commented on #25
Hello ziya .can you please let me know how to continously get data from firebase database into xamrin.ios. I managed to get data by using firebaseclient.get() method but if any new data comes into database how can we get without refreshing .

[2016-09-06 13:48] achabill opened #70 "Failed to validate MAC"
UWP
Using: `var firebaseConfig = new FirebaseConfig { AuthSecret = id_token, BasePath = FirebaseBaseURL }` and calling  `PutAsync()` throws exception with Message : _"Failed to validate MAC"_

id_token:
`"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3NpbXBsZXNvY2lhbG1lZGlhLmF1dGgwLmNvbS8iLCJzdWIiOiJmYWNlYm9va3wxMzkyNTM5Nzk3NDQyODcwIiwiYXVkIjoiVldqU1hvOUY0eFBMbEFtMktNeXJMb0s4bVd3c2hYYj

[2016-09-06 14:05] ziyasal opened #71 "Seeking additional maintainers.."

[2016-09-08 00:56] assemmarwan opened #72 ""The type or namespace name 'FirebaseClient' could not be found""
I follow the guide as you put in the Usage guide but the FirebaseClient class can't be found. Moreover, I didn't find it in the library.

Please tell me if this is a problem from my side or otherwise.

[2016-09-08 15:05] ubirajaramnj commented on #56
Hi ziyasal,

can I contribute make it compatible with .Net Core?

[2016-09-08 19:12] #72 closed

[2016-09-23 15:24] walaa118 opened #73 "Request responded with status code=BadRequest, response={ "error" : "Could not parse auth token." }"
when i try to use firebase notification :

  IFirebaseConfig config = new FirebaseConfig
  {
     AuthSecret = "your_firebase_secret",
     BasePath = "https://yourfirebase.firebaseio.com/"
  };

what is the AuthSecret  ?!

is it any setting need in the application console.firebase?

[2016-09-25 15:34] tyrtok opened #74 "Does this works on Xamarin.Forms?"
as above. can we use this on xamarin.forms?

[2016-09-29 18:38] qqc commented on #73
The legacy AuthSecret method is hidden inside the Project Settings in the new Firebase Console under the label **Database Secrets.** In order to find out your AuthSecret, you'll need to navigate to Project Settings by pressing the cog icon in the sidebar, and then going to the Database tab. Either use the existing secret, or create a new one, and press the button to reveal it. Put this in your Fir

[2016-10-01 15:53] Fabrik19SH commented on #74
I gave it a short try (adding via nuget to Xamarin Studio Xamarin.Forms / Xamarin.Android Project):
`Could not install package 'FireSharp 2.0.4'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, co

[2016-10-03 08:35] pooran opened #75 "How to limit the number of items to display"
We need only 2 last updated items from thousands of items. is there a way I can filter the same from GET / GETALL ?

[2016-10-03 08:47] sandcastle commented on #56
@ziyasal any update on others providing help or your ETA to update?

[2016-10-03 17:31] ziyasal commented on #56
hi @all It would be good to see that someone working on this, IMO it shouldn't be huge amount of work but I haven't find a time to work on.

[2016-10-13 22:19] jazpearson commented on #56
I've just submitted a PR for this (#76).
There's a bit of work to do to tidy it up, but it should be a pretty good start. Converting the firesharp project was very simple. The unit tests are what took most of the time (and there's 1 failing).

[2016-11-05 03:36] kanvuduc commented on #71
Hi @ziyasal,

Thanks for your great work.

I would like to join in to help a hand.

Could you share with me more about the roadmap of FireSharp?

I could be contacted at kan.vuduc on Skype.

Regards,
Tuyến

[2016-11-07 16:56] doreto commented on #75
I'm looking for solution too, but for  _client.OnAsync method.

[2016-11-08 11:02] doczoidberg opened #79 ".NET 3.5"
Is it possible to use it with .NET 3.5?

[2016-11-09 12:43] aupp commented on #75
You could use the QueryBuilder and the "LimitToFirst"-method. Or you could put together your own query and just pass it to QueryBuilder.New("your-query") and use it in the Get method.

[2016-11-09 15:01] EricPucho commented on #74
Work with : .NETPortable,Version=v4.5,Profile=Profile78.

Change profile and re-target your others packages

[2016-11-09 15:02] EricPucho commented on #60
Solved after update Xamarin Studio

[2016-11-09 20:27] doreto opened #81 "NullReferenceException with Set/Push Response"
Greeting everyone,
When I'm trying to Set or Push to Firebase, I'm getting following error `System.NullReferenceException was unhandled by user code`

[code]

I'm getting the error in `SetResponse response = await _client.SetAsync("todos/set", todo);` line.

Just to mention, I can read from firebase, but I cannot update/set in firebase.

[2016-11-10 00:09] kingsurf commented on #66
Can we please get this bug fix into the master branch? I just spent an hour fixing this issue.

[2016-11-11 11:03] doreto commented on #81
Anyone with solution for this problem ? @ziyasal

[2016-11-12 09:58] #81 closed

[2016-11-13 15:41] ziyasal commented on #71
Hi @kanvuduc, Thank you for your interest.

Here is basic roadmap;
-  Solving issues which currently exists
-  Firebase 3.0 support
- .NET Core support

Thanks
ziyasal

[2016-11-14 09:05] Sagariouz opened #82 "Querybuilder NotFound response"
Hi guys.

I'm trying the new QueryBuilder to limit the amount of data that is fetched, but I'm getting an exception on the request:
"Request responded with status code=NotFound, response=not found"

`FirebaseResponse response = await client.GetAsync("Routes", QueryBuilder.New().LimitToFirst(8));`
It works without the QueryBuilder param.

I'm not using Auth and I havent upgraded to the new dashboar

[2016-11-16 03:45] 4nthonylin commented on #71
Hi @ziyasal,

I'm also interested in helping out with Firesharp, probably focus on streamlining the event-streaming. Good to see you updating the TemporaryCache.cs to solve the malformed tree issue.

Anthony

[2016-11-17 15:53] Sagariouz commented on #82
If anyone else gets this exception. I needed to add some form of authentication on the client call.

Thx for this added feature, saved me..

[2016-11-20 12:58] doreto commented on #65
I'm looking for this too.

[2016-12-01 19:45] alberthoekstra commented on #73
Doesnt work for me, i cant find the database secrest in the Firebase console.

[2016-12-07 12:00] ahmadsety opened #84 "listen OnAsync data of specific path"
this code does not fire onAdded event , noChange event and removed

IFirebaseConfig config = new FirebaseConfig
                {
                    AuthSecret = AuthSecret,
                    BasePath = databaseURL
                };
                IFirebaseClient _client = new FirebaseClient(config);

                List<VideoInformation> result = new List<VideoInformation>();

[2016-12-07 15:58] malohr commented on #20
I found the solution for Xamarin Studio:

[2016-12-07 17:44] malohr opened #85 "CreateUser"
Hi,

I tried to create a user via email and pw, but unfortunately it doesn't work.
Here is my method

public partial class SignUp : ContentPage
	{

		private const string BasePath = "my url to the database";
		private const string FirebaseSecret = "API key is here";
		private static FirebaseClient _client;
		private String email;
		private String password;

		public SignUp()
		{
			InitializeCompo

[2016-12-10 17:38] lassana commented on #35
What is the reason not to support WP8.1? As I can see, Firesharp depends only on MS http client library and Newtonsoft json

[2016-12-19 12:52] CarterMiller opened #86 "VB.NET"
The library looks great, and appears to suggest that I should be able to use it with VB.NET - but I can't find any examples anywhere, and translating the javascript examples isn't working.

**Should** I be able to use this library with VB.NET (Visual Studio 2015), and if so, are there any examples to show how to get things started?

Russell

I found a splendid code translator [http://www.carlosag.

[2016-12-20 12:01] #86 closed

[2017-01-06 17:16] TiagoGouvea commented on #75
I'm looking a solution to use with OnAsync too...
@aupp can your solution work with?

[2017-01-06 18:15] TiagoGouvea commented on #82
When I call ````QueryBuilder.New().LimitToLast(10)````  It give me **"orderBy must be defined when other query parameters are defined"**

[2017-01-10 11:53] TiagoGouvea commented on #62
I nugget package are not automatically updated?

[2017-01-10 11:58] TiagoGouvea commented on #71
How can I help?
I'm using FireSharp and needing to take it better too.

[2017-01-12 14:52] EdersF commented on #85
I have the same problem :/

[2017-01-12 18:28] miker1423 opened #89 "New Firebase"
Hello, I have an API which was built a year ago, the guys of google told me that I needed to update to the new version of the management dashboard. After the update I can't do any kind of action, I already set the new URL and the new Secret but it is not working. can someone help me?
thanks!

[2017-01-16 15:00] aupp commented on #89
Are you sure you got the right database secret?
From the console:
Overview (the cog icon in the top right corner of the menu) -> Project Settings -> Service Accounts -> Database Secrets. Its not the same as the "Web api key"

[2017-01-18 18:42] miker1423 commented on #89
Yes, I'm using the correct secret

[2017-01-23 14:59] FetzenRndy opened #90 "Realtime"
Hello,

I'm having issues with getting data in real time when the data gets updated.

I have no issue getting data from firebase and getting data into firebase but I can't figure out how to retrieve an update when I change a value in Firebase.

Taking a look at the Sample folder didn't help much eighter...
Can someone help me out?

[2017-02-08 09:37] sinaislam opened #92 "Please change the _client.SetAsync to client.SetAsync"
It is a not just typing mistake but it will be good to fix. At many times I see this type of mistake and it misguided the new developer. They are searching for _client all over the word.

[2017-02-09 12:26] sstorie commented on #43
I'm planning to use Firebase to support a mobile application, but I'd like to integrate the authentication (whether it's Google/Facebook/whatever) into an ASP.NET Core web app as well. I've found a method to authenticating the API portion of the site using JWT, but I'm not sure how to handle the MVC pages.

[2017-02-09 22:07] robomotic commented on #89
Just to make it clear did you upgrade from the old console version to the new console version? I actually have a setup like that but didn't try it yet, will let you know.

[2017-02-10 19:09] miker1423 commented on #89
Yes, I upgraded the console version which also updates the API to access the DB.

[2017-02-14 15:24] #90 closed

[2017-02-14 15:24] FetzenRndy commented on #90
Please delete

[2017-02-17 15:19] jordinola opened #93 "Nodes MAnage"
Hi, I would like to know if there is any way to handle the nodes that are created when you push an objec? There is the autogenerated key but I need to change that key for a custom value.

Thxs in advance

[2017-02-25 12:11] argcos commented on #93
You will need to use set instead of push. And provide the custom key value in the url. If Firebase can't resolve it, it will be created.

[code]

[2017-02-25 12:25] argcos commented on #70
You need the Database Secret from Project Settings -> Service Accounts -> Database Secrets

![image](https://cloud.githubusercontent.com/assets/6182380/23331038/72c8de2a-fb55-11e6-86ec-f3b374634417.png)

[2017-02-25 12:46] argcos commented on #59
Not by default, Firebase doesn't provide it. You would need to load all the data or save and maintain a counter on the database. The workaround for pagination would be
[code]

[2017-02-25 19:33] argcos commented on #85
Have you enabled the email/password authentication?

![image](https://cloud.githubusercontent.com/assets/6182380/23334135/ab491a54-fb90-11e6-85e2-bd6453838642.png)

Also, I assume you are using the correct secret. FireSharp uses a deprecated method, you can find this secret under Cog (top left) -> Project Settings -> Service Accounts -> Database Secrets.

If these don't fix it, can you post the re

[2017-02-26 10:35] RezaOruji opened #94 "work with new firebase firebase.google.com"
does this library work with new firebase version  at [firebase.google.com](url)?

[2017-02-26 21:21] argcos commented on #94
Works for most of the functionality using the deprecated database secret(explained how to find it here https://github.com/ziyasal/FireSharp/issues/73).

[2017-02-28 18:55] arikshik opened #95 "Simple PUSH throws an exception"
Hi - I'm new to Firebase, please advise what I'm doing wrong.
I'm getting **"An error occured while execute request. Path : Game , Method : POST"**
BTW - just making sure - I put the legacy database secret (from console) I have in the AuthSecret.
Thanks.

The code:

        public static async void WriteToFirebase()
        {
            IFirebaseConfig config = new FirebaseConfig
            {

[2017-02-28 23:37] #93 closed

[2017-02-28 23:43] argcos commented on #95
Is your "Game" directly under the root node? If not you will need to specify the path to the Game node. For example if your node structure is root -> tournament -> Game you will need to modify the code to be:
[code]

[2017-03-01 00:08] argcos commented on #94
Closing. Not an issue.

[2017-03-01 00:08] #94 closed

[2017-03-01 06:57] arikshik commented on #95
Tried it, doesn't work.
It seems like any request I make fails on the same error, even a simple Get.
Could it be something with the authentication?

[2017-03-01 09:20] argcos commented on #95
Assuming you got the BasePath and AuthSecret right I don't think it is an authentication problem. Can you post your db structure from the Firebase console? you can hide the values, i'm only interested in the keys.

[2017-03-01 11:01] #57 closed

[2017-03-01 11:02] #70 closed

[2017-03-01 14:44] arikshik commented on #95
Sure, simple JSON which corresponds to the test example:
{
  "tournament" : {
    "Game" : {
      "ID" : "a",
      "Name" : "b"
    }
  }
}

The code for GET:
        public static async void WriteToFirebase()
        {
            IFirebaseConfig config = new FirebaseConfig
            {
                AuthSecret = "**************************************",
                BasePath = "*********

[2017-03-01 15:37] arikshik commented on #95
BTW tried it with both / and \
Same error.

[2017-03-01 22:14] arikshik commented on #95
ISSUE CAN BE CLOSED:
I figured out this is a network issue, some proxy in my office preventing the REST calls from going out properly. The same code works good on a VM on Google cloud.
Thanks.

[2017-03-01 23:01] #95 closed

[2017-03-05 19:39] arikshik opened #96 "Difference between methods"
Can you please explain the difference between Set/Push/Update ?

Thanks.

[2017-03-05 21:01] argcos commented on #96
Read the Firebase docs -> https://firebase.google.com/docs/database/web/read-and-write

[2017-03-07 08:47] #96 closed

[2017-03-19 19:24] muehan commented on #20
same problem. Windows 10, VS 2015 Community.

_Could not install package 'FireSharp 2.0.4'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author._

[2017-04-12 19:01] ziyasal commented on #71
Hi @all if you interested we can organise meeting to to talk about future plans of library. If you interested please let me know.

Thanks.

[2017-04-13 13:50] argcos commented on #71
Hi @ziyasal, meeting sounds good however I'm not available until next month.

[2017-04-18 15:12] anhbinhvodanh opened #97 "I can't use OnAsync in Xamarin IOS"
Here my code
`using FireSharp;
using FireSharp.Config;
using FireSharp.Interfaces;
using FireSharp.Response;
using System;

using UIKit;

namespace Chat
{
    public class ChatMessage
    {
        public string name { get; set; }
        public string text { get; set; }
    }
    public partial class ViewController : UIViewController
    {
        private const string BasePath = "https://chat-c64

[2017-04-19 14:58] anhbinhvodanh commented on #97
Fixed by using xamarin on vmware instance of mac host

[2017-04-19 14:58] #97 closed

[2017-05-24 10:31] roberzyx opened #99 "Get item key from list"
Hi,
I'm trying to get the data from an array in the database and binding it to a ListBox using a custom class. I do it like this and I have no trouble doing it:
![image](https://cloud.githubusercontent.com/assets/28893010/26399341/e01a6586-407c-11e7-9fff-b20476ee9b61.png)
The problem comes when detecting a selection change in the ListBox, I don't know what item are they clicking at. It would be ne

[2017-05-29 16:20] argcos commented on #99
You should deserialize your data into a dictionary rather than a list where the key is the object id. Firebase stores key-value pairs so you should work with the data in the same way in your code.

[2017-05-29 19:40] arcosmin commented on #82
@TiagoGouvea you need to order your objects by something to use limit to last since there is know default ordering on the firebase db

[2017-05-29 19:40] #82 closed

[2017-05-29 19:41] arcosmin commented on #85
No reply assumed resolved

[2017-05-29 19:41] #85 closed

[2017-05-29 19:42] arcosmin commented on #75
assume no help required anymore

[2017-05-29 19:42] #75 closed

[2017-05-29 19:44] #73 closed

[2017-05-29 19:45] #59 closed

[2017-05-29 19:47] arcosmin commented on #61
FireSharp uses an old way of authenticating refer to #94

[2017-05-29 19:47] #61 closed

[2017-05-29 19:47] #60 closed

[2017-05-29 19:50] arcosmin commented on #16
assume fixed since the merge happen just no one closed the issue

[2017-05-29 19:50] #16 closed

[2017-05-29 20:02] #53 closed

[2017-05-29 20:32] arcosmin commented on #71
@ziyasal Is that meeting still on the table?

[2017-06-03 12:05] rakshithsj30 opened #102 "Value event handler does not take two arguments"
[code]

I am facing problem in this block. I am getting this error "Value event handler does not take two arguments". pls help me

[2017-06-03 17:27] arcosmin commented on #99
Assume fixed

[2017-06-03 17:27] #99 closed

[2017-07-04 14:09] dhruviSanghani commented on #20
i am using .net framework 4.5.2 and windows 8 and visual studio 2013 for my website but i am not able to install firesharp.
below error occure when i am trying to run command in my package manager console

**command: Install-Package FireSharp -Version 1.1.0**
**Error:**
Install-Package : The current environment doesn't have a solution open.
At line:1 char:1
+ Install-Package FireSharp -Version 1.1

[2017-07-05 07:25] navingp commented on #74
I am not able to do this for projects created in VS.Net 2015. Any solutions for this?

[2017-07-05 11:27] EricPucho commented on #74
Change the project profile to = "PCL 4.5 Profile 78"

[2017-07-05 12:04] navingp commented on #74
I set that to PCL 4.5 Profile 78 yet the package doesn't get installed

[2017-07-05 13:02] jwamsterdam opened #103 "Slow push of items - performance"
I loop through a collection and on every element, I do a push to firebase.
I do see that every individual push action to firebase takes approx 700 ms... isn't that really slow? If I use the Javascript SDK from google firebase and loop through a collection, I get an performance of around 20 - 30 per second. (estimated)

It looks like every push action opens a new connection to firebase, although th

[2017-07-12 16:11] mokus opened #104 "ROUTE_NOT_FOUND when calling FirebaseClient.CreateUser"
Getting {"error":{"code":"ROUTE_NOT_FOUND","message":"Route not found."}} when calling FirebaseClient.CreateUser. The other parts of the API works well - I can get objects and run queries.

[2017-07-20 17:35] leonardofs commented on #74
Anybody have a sample to how use Firesharp in a Xamarin.Forms project? Ps: sorry for my bad english.

[2017-07-21 16:37] EricPucho commented on #74
https://github.com/EricPucho/FirebaseXamarinForms

[2017-07-21 19:23] leonardofs commented on #74
thanks so much

[2017-08-15 17:17] jviaches commented on #56
Support for .NET Core would be great :)

[2017-08-15 18:50] doczoidberg commented on #56
works with .NET Core 2.0!

[2017-08-15 18:50] #56 closed

[2017-08-15 19:44] ziyasal commented on #56
:+1: cool!

[2017-08-16 05:28] himadrinath commented on #56
**NuGet not updated yet.....................**

[2017-08-16 06:47] doczoidberg commented on #56
you need .NET core 2.0. It supports more libraries than 1.1

[2017-08-16 07:20] himadrinath commented on #56
i already have 2.0

[2017-08-16 07:22] doczoidberg commented on #56
it should work with the nuget package

[2017-08-21 21:33] jviaches commented on #41
Hello @Zaid-Mirza,
Let me try to answer your question. FireBase approach is basically has two ideas of containing data:
1. **One-directional**, meaning that we actually nest the child objects under the parent.
2. **Two-way relationships** we basically duplicating some data.

**First** one has some underlying meaning: when some entity has access to specific node, it also has access to all its desce

[2017-09-12 10:37] rajkovicbojan opened #105 "Subscribe"
Hi,

I have one question .  I want to recieve only notification. The question is actualy how to subscribe on topic and which function to use for receiving notifications.

Please if you coulde give some basic example.

[2017-09-18 11:38] dankennedy commented on #44
Any update on this, I'm getting the same issue.

[2017-09-27 13:46] meryll opened #106 "authSecret deprecated"
Hi,
is it still possible to use FireSharp now when AuthSecret needed for connection (FirebaseClient) is deprecated?

Thanks!

[2017-11-14 07:56] tayyabali commented on #44
Any updates on this? I am also getting the same error **occasionally**.

Thank You

[2017-11-21 14:08] ziyasal opened #108 "Add Cloud Firestore support"

[2017-11-22 01:44] JINC06 opened #109 "OnAsync Lost Connection It doesn't recover"
Hello, I am having a problem I want to implement Firesharp in a enviroment no very stable. The internet connection goes o get back later.

But I realized when this happen the OnAsync method it does not recover the connection is not listen anything again, there is something that I can do?

Thanks.

`await _client.OnAsync(IdCompany,
                added: (s, args, context) =>
                {

[2017-11-24 08:06] ErmanOzcan1 commented on #67
hi @AzkaarAli were you able to query with where clause ?
thanks

[2018-02-10 12:07] Hussamalsh commented on #108
Yes please add firestore support

[2018-02-16 15:41] alexsudo92 opened #110 "Set name for tables"
How i can set name for this?
![image](https://user-images.githubusercontent.com/28759016/36315471-a44bacb2-1359-11e8-8f5f-c6e4bcba699d.png)
Thanks!

[2018-03-29 09:50] AndreasSchmid1 opened #111 "Use FireSharp to secure a asp.net web api backend"
Can FireSharp be used to secure Authorize a asp.net backend with it? Thank you for help in advance

[2018-03-31 16:20] Dahl93 commented on #104
Does anybody has a solution for this problem? I have the same problem ..

[2018-04-11 11:14] #110 closed

[2018-04-22 14:55] noahhusby commented on #106
Yes, it is still possible but not recommended. You can use firebase-authentication-dotnet by step-up-labs for authentication, then the code it returns, you put in the same place as the AuthSecret. Firebase-authentiation-dotnet is made for firebase-database-dotnet, which is an equivilent for FireSharp. I have not had good luck with it, so you can use Firebase-authentication-dotnet and firesharp for

[2018-05-18 16:15] nagyvilmos opened #112 "Incorrect keys returned for array items"
I an trying to perform a get on the below structure:
[code]

using
[code]

In `DataInsert`, the `args.Path` and `args.Data` are:
[code]
the fourth appears as an update with key `\`.

Updating the values in firebase gives the correct keys back; e.g. `\child\item\0`

[2018-05-24 21:23] kormemis opened #115 "does is support offline sync"
does it support offline sync ?

[2018-05-25 12:03] brunohbrito commented on #115
@kormemis No, it only support online events.

There isn't any kind of sync support

[2018-05-31 23:45] kormemis commented on #115
@ziyasal  ziya bohunu yiyim şuna offline sync olayını bi ekle lütfen.

[2018-06-10 03:37] adam3039 commented on #103
Seconding this, curious if anyone has any suggestions for speeding things up.

In one of my API calls, I'm doing updates to 10 objects in firebase (not large updates). These calls average about 3000ms, so 300ms per update. This is pretty brutal. I'm hoping I can figure out a solution so that I don't have to explore alternatives.

[2018-06-18 12:09] RameezStark opened #116 "Can't stream data from database"
Hi,
  I am unable to use this api for streaming data to my c# winform application. It's showing that the valuehandler cannot take 2 arguments.

[code]

I tried to use this code, NOT WORKING.

   Does anyone know why?

[2018-06-19 00:09] amalg commented on #86
Mind posting some of that sweet translated example code for vb.net?

[2018-06-19 16:29] rodyfernandez opened #117 "Como se utiliza el Querybuilder?"
No me queda claro como aplicar filtros al momento de traerme los datos desde firebase, entiendo que es con el parametro querybuilder, pero no logro aplicarlo correctamente, podrian subir algun ejemplo? gracias!

[2018-06-22 01:16] shibuya246 opened #118 "set upload without returning whole dataset"
We are uploading new data to a node on firebase on a regular basis. We do not want to get the uploaded data, sent back in the response stream, as it consumes our firebase download quota.

If we use push, it does not contain the uploaded data in the response stream, but we cannot specify the key.

why is all of the data returned on both set and update? is there someway to set a flag to not return d

[2018-06-22 02:33] shibuya246 commented on #118
looks like if we can edit the PrepareUri function to accept the extra params, then it could work, either adding the params to queryBuilder when it gets passed it, or setting a new param passing it to the PrepareUri function direct

`private Uri PrepareUri(string path, QueryBuilder queryBuilder)
        {
            var authToken = !string.IsNullOrWhiteSpace(_config.AuthSecret)
                ? $

[2018-06-22 02:42] shibuya246 commented on #118
In QueryBuilder.cs
https://github.com/ziyasal/FireSharp/blob/master/FireSharp.Core/QueryBuilder.cs

there is already options for "shallow" although that only works on GET requests

`public QueryBuilder Shallow(bool value)
        {
            return AddToQueryDictionary(shallowParam, value ? "true" : string.Empty, skipEncoding: true);
        }`

a similar choice for "silent" would fit in consist

[2018-06-22 08:04] shibuya246 commented on #118
I have added code to make this work now with Tests as well, and want to publish a branch so i can open a pull request. I don't seem to have permission to access this repository for that.

[2018-06-22 12:41] ziyasal opened #120 "Refactor lib code for v3"

[2018-06-23 05:23] #118 closed

[2018-07-19 19:04] Fabricciotcortes commented on #102
In the last package of Firesharp you have to use 3 arguments: The correct use is
` await _client.OnAsync("chat",
                added: (s, args, context) =>
                {
                    Dispatcher.RunAsync(CoreDispatcherPriority.Normal, () =>
                    {
                        TextBox1.Text = args.Data + " -> 1(ADDED)";
                    });
                });`

[2018-08-02 18:08] Everest84 commented on #108
+1

[2018-08-02 18:09] Everest84 opened #122 "How do you send a notification"
I need to be able to send notifications from my app - Just like how the Firebase Console is able to do. How do I do that from FireSharp?

[2018-08-02 18:09] Everest84 commented on #122
The Docs don't mention anything about cloud messaging

[2018-08-04 07:17] Ishmael-Moreno commented on #116
@RameezStark you ever figured out why this error shows?

[2018-08-05 07:06] Ishmael-Moreno commented on #116
@RameezStark So apparently i n the last package of Firesharp you have to use 3 arguments: The correct use is EventStreamResponse response = await client.OnAsync("chat", (s, args,context) => {
                System.Console.WriteLine(args.Data);
               });

[2018-08-05 07:07] Ishmael-Moreno commented on #116
@RameezStark So apparently in the latest version of Firesharp it takes 3 arguments and not 2: The correct use is EventStreamResponse response = await client.OnAsync("chat", (s, args,context) => {
                System.Console.WriteLine(args.Data);
               });

[2018-08-06 14:54] RameezStark commented on #116
Sorry, dropped the project. Working on another one now.

On Sat 4 Aug, 2018, 12:47 PM Ishmael-Moreno, <notifications@github.com>
wrote:

[2018-08-09 18:37] IbraheamZayed opened #124 "Pleas replay to me"
Pleas can you tel me how to us it on desktop Application   To make message box when data changed on firebas

[2018-08-12 05:17] Fabricciotcortes commented on #120
Please in real time data add the option that you can add in a list all the information in real time. The method Suscribe only works with a Console.WriteLine

[2018-08-21 13:37] #122 closed

[2018-08-21 18:10] chowdarysm opened #126 "Connection Closed issue - Windows Service"
We are using Firebase listeners , deployed as windows service , After start service 3-4 hours , Firebase App using High CPU and we got following error , any one face this issue before?

Firebase Windows Error on: 21/08/2018 03:24:21 AM Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.   at System.Net.ConnectStream.EndRead(IAsyncResult

[2018-08-21 18:26] justmobiledev opened #127 "ReceiveThread and SendThread cause high CPU usage due to System.IO exception"
first, thanks for the great library, which has been very useful.

We are currently facing an issue that when using FireSharp library listeners as part of a Windows service, the service generates high CPU usage that seems to occur when the network connection of the server or the Firebase database service is disrupted.

Our thread dumps have shown that the worker threads are executing SendThread and

[2018-08-23 00:48] easoftwaresanderson opened #128 "Convert class to Json"
Hello,

How can i convert the class model to document json to push it ?

[2018-08-24 09:38] vd3d opened #129 "Nugets : failed to install into Xamarin"
Hi,

I tried to install this lib into my Xamarin app, but it failed, I have nothing in my UWP and IOS project, only the Android version seems to be installed !

I got this error message:

"Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'Microsoft.Bcl.Build 1.0.14'. You are trying to install this package into a project that targets 'MonoAndroid,Versio

[2018-08-30 13:29] tblack2200 opened #130 "Connect to firebase as a specific user"
During my initial tests, I've connected to firebase, using the firesharp code below, which works fine.
How do I connect as a specific user, applying their security rules?  I didn't see a way to pass in their identifier and UID.

    Private objConfig As IFirebaseConfig
    Private objClient As IFirebaseClient

    Private Sub Form1_Load(sender As Object, e As EventArgs) Handles Me.Load
        Try

[2018-09-10 15:32] arcosmin commented on #130
Hi @tblack2200, for using the firebase rules you would need to authenticate the user first through Firebase Authentication, you can't pass your own 'security context'. I haven't been involved in FireSharp in a while but as far as I know FireSharp only provides access to the Firebase Database.

[2018-09-10 15:33] arcosmin commented on #128
@easoftwaresanderson, please see [https://www.newtonsoft.com/json/help/html/SerializingJSON.htm](url).

[2018-09-10 15:33] #128 closed

[2018-09-22 06:57] hicosmonaut opened #131 "Firebase Cloud Messaging"
Hello, I work with WinForms project and I have to do push-notifications. So for server-side I want to use Firebase Admin SDK (node.js) and for client-side I want to use FireSharp. Is it possible to use it for push-notifications? In my case, push-notification it's simple plain text which will be received in background.

I mean, I need simple logic, when I click button "Send"  message from server ha

[2018-10-02 15:59] tehnetaholic opened #132 "Direct dependency on Newtonsoft.Json in TemporaryCache and EventStreamResponse classes"
I am trying to use the latest master build on Unity.
Sadly these 2 classes directly reference Newtonsoft.Json, which Make FireSharp.Core.Interfaces.ISerializer interface useless

[2018-10-02 16:04] ziyasal commented on #132
Hey @tehnetaholic, unfortunately. It needs to be decoupled, contribution welcomed.

[2018-10-15 13:59] DLeague9 commented on #104
I'm also stuck on this problem... What this error code mean?

[2018-10-21 13:45] ColorTwist opened #133 "FireSharp 2.1 on nuget"
Hello,

When searching in NuGet (In VS) for FireSharp it bring the version 2.0.4.
When are you planning to merge version 2.1 in NuGET VS?

[2018-10-28 15:02] jade-octopusgroup opened #134 "Multi-Path updates"
Is there any plans for implementing multi-path updates? Or is it there and I've just missed it?

I'm referring to: https://firebase.google.com/docs/database/rest/save-data

i.e. curl -X PATCH -d '{
  "alanisawesome/nickname": "Alan The Machine",
  "gracehopper/nickname": "Amazing Grace"
}' \
  'https://docs-examples.firebaseio.com/rest/saving-data/users.json'

[2018-10-28 15:28] #134 closed

[2019-01-23 16:57] tblack2200 opened #135 "Event Streaming not working"
I've successfully setup Firebase Realtime Database event streaming in Android, but failing in VB.NET.
I can connect and manually read\write, but just can't get listener to work.  Any help is greatly appreciated.

    Private Async Sub EventStreaming()
        Dim strTest As String = Nothing
        Try
            objListener = Await objClient.OnAsync("alert", Function(s, args, context)

[2019-03-07 16:04] fabricciotc opened #136 "[WPF] Listen Streaming in a Datagrid"

[2019-03-07 16:08] fabricciotc commented on #117
¿Hola exactamente cual es tu duda? ¿Es decir quieres obtener datos o subirlos?

[2019-03-07 16:19] fabricciotc commented on #108
+10

[2019-03-07 16:20] fabricciotc commented on #105
Hi, its easy:

EventStreamResponse response = await _client.OnAsync("chat", (sender, args, context) => {
       System.Console.WriteLine(args.Data);
});

[2019-03-07 16:23] fabricciotc commented on #105
If you want a notification only change System.Console.WriteLine to a MessageBox. Obviously if you are using a WPF o a windows forms.

[2019-03-10 21:48] fabricciotc commented on #131
yes online with de method Listen() or Suscribe().

[2019-05-14 10:24] gerdipicup commented on #103
Third this issue.
I am pushing just location data, and am averaging 980ms per call.

[2019-05-19 07:09] deebash commented on #62
Does Nuget Package updated? Still I'm having the same issue.

[2019-05-19 07:12] deebash commented on #66
Now, `case JsonToken.EndObject: return; `is there in the switch statements. But still `args.path` are merging

[2019-05-19 08:12] deebash commented on #16
How to build FireSharp.dll after fixing this issue. When i build solution, I'm getting FireSharp.core.dll which lacks many functionalities.

[2019-06-25 02:24] digitxo opened #137 "issue with get"
FirebaseResponse response = client.Get("test/test/name")

I'm trying to make this call and I keep receiving null.

Here is a screenshot of the database:
![image](https://user-images.githubusercontent.com/39468483/60064557-a7349980-96b5-11e9-903d-9acb4478ba4b.png)

[2019-07-07 16:17] Angshu1 opened #138 "function call on data change"
Can we do like client.datachanged+=Function;

if yes i'd like like to know how and if now it should be added in future ;)

[2019-08-13 17:53] NBull92 opened #139 "405 Not Allowed MethodNotAllowed When calling .CreateUser()"
I am attempting to create users via email and password and I have enabled email and password in the authentication tab of the console.

Unfortunately, it is returning a MethodNotAllowed 405 error whenever I proceed. My code currently is very simple, I have a textbox for each the email and password and it looks like so:

`FirebaseResponse response =  client.CreateUser(email.Text, password.Text);`

[2019-09-19 15:04] avsreenath opened #140 "Firebase Analytics Support"
Can i use FirebaseSharp for Firebase Analytics

[2019-10-02 19:52] #139 closed

[2019-10-23 22:40] starkemc opened #145 ".Net Core NuGet"
I was attempting to get the new .net core compatible version through nuget but the latest version is 2.04.  Your page says the .net core version is 2.1.   Have you updated nuget yet?

Thanks for all your hard work!

[2019-12-05 11:01] thanoszoug opened #146 "Client Connections are staying open"
Hello all,

I have this project where I am inserting some stuff into a firebase database but it seems whenever I am sending a Set/Push/Update etc. request the client opens a connection and never closes it.

So what I am doing is as follows.

On startup I create the Firebase Client and then I am using the same client for all my requests.
I am calling the API call and a job is executed.
Whenever I a

[2019-12-24 12:50] mesut25 commented on #86
yes. yes yes

yes, yes, yes, yes,🖒😁

[2020-01-31 00:27] WspDev opened #147 "Firebase Admin SDK"
Thanks for your work on this.

According to the Firebase site: "Database secrets are currently deprecated and use a legacy Firebase token generator. Update your source code with the Firebase Admin SDK."

Do you intend to update the code to use the latest authentication?

[2020-02-11 19:47] gerb0n commented on #145
Any news on this?

[2020-03-04 13:09] #146 closed

[2020-05-23 02:22] rythos42 commented on #129
This Xamarin thread solves this issue: https://forums.xamarin.com/discussion/62911/emergency-cant-install-microsoft-bcl-build-1-0-14-in-visual-studio-2015-for-android-project

Install Microsoft.Bcl.Build 1.0.21 directly through NuGet, then install FireSharp.

[2020-06-06 09:22] spartacus04 opened #148 "Unity WebGL"
Hi, does this library support the unity engine webgl build?

[2020-06-07 23:38] maxmanusv1 opened #149 "Firebase Database"
When i set new values to database its deleting old values. how i can solve that?

[2020-06-14 10:03] maxmanusv1 opened #150 "OnAsync"
https://stackoverflow.com/questions/62367171/firesharp-api-how-i-can-get-new-values

Can anyone tell me usage of OnAsync? Am i doing somethings wrong?

[2020-06-14 10:03] #149 closed

[2020-06-14 20:09] 1Serf commented on #130
You can use firebase-authentication-dotnet to Athenticate your  user and get Auth object . from there get the Firebase token `Auth.FirebaseToken` then use it in FireSharp Config
` IFirebaseConfig config = new FireSharp.Config.FirebaseConfig
                    {
                        RequestTimeout = TimeSpan.FromDays(1),

                        BasePath = "https://calm-seeker-257120.firebaseio

[2020-06-18 00:26] aneudyp commented on #137
try :

FirebaseResponse response = await client.GetAsync("test/test/name");

[2020-08-08 13:36] guiltm commented on #127
same problem, did you get any solution?

[2020-08-14 17:34] guiltm commented on #127
1 week and my code are working without that issue.
I will send a PR.

[2020-09-11 14:05] Vardan2009 opened #152 "Call A Function On Data Change"
Hi! I'm Making A **Chat Application** in firesharp

I Want Call A Function When **Data Is Changing**

**Thanks!**

[2020-10-15 16:50] #152 closed

[2020-10-20 16:01] aksbju commented on #137
This method is used to Retrieve Realtime databse

[2020-12-09 20:12] FEARIV opened #153 "dot not allowed in request path"
`_client.SetAsync("/servers/server" + processID + ".json", serverData);`
I'm trying to add some data to firebase, but different methods all give the same error:
**FireSharp.Exceptions.FirebaseException: 'Request responded with status code=BadRequest, response={
  "error" : "Invalid path: Invalid token in path"
}'**
This is caused by the "." from ".json" which is added at the back of the path. With

[2021-02-03 18:04] erickvrech89 commented on #108
+20

[2021-03-22 13:56] SergueiRazykov opened #156 "response.Dispose() doesn't stop listening to event for OnAsync()"
We call Dispose() method when trying to re-connect but it doesn't stop the listening to events

            try
            {
                if (_fbOnAsyncResponse != null)
                {
                    _fbOnAsyncResponse.Dispose();
                }
            }
            catch (Exception ex)
            {
                this.Log().Warn($"Failed to dispose {ex.Message}");

[2021-05-06 03:03] maltezc commented on #156
@SergueiRazykov I just ran into this issue. now when I make adjustments on my web app, it affects my c# winforms app startup.

Any luck on figuring this out?

I've tried .Dispose() and .Cancel() and neither work.

[2021-05-09 23:20] SergueiRazykov commented on #156
@maltezc Unfortunately, no. I looked at the code and believe that Dispose() includes Cancel(), still not working. I stopped useing these methods altogether, Just re-starting the app when I am losing connection.

[2021-05-23 09:31] huntr-helper opened #157 "Potential Security Issue"
👋 Hello, we've received a report for a potential critical severity security issue in your repository.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/1-other-ziyasal/FireSharp** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for more assistance.

3️⃣ Propose a patch or outsource it to our community.

---

#### Confused or nee

[2021-05-24 16:46] unknowndev00 opened #158 "child_removed doesn't work almost a year, maybe even more"
child_removed fires twice, actually three times,
it fires at the same time when it item is added, and then twice when is deleted, super weird.
I wonder why nobody mentions this....

`  await clientt.OnAsync("users",
                        added: async (s, args, d) =>
                        {
                            this.BeginInvoke((Action)delegate ()
                            {

[2021-05-24 16:48] unknowndev00 commented on #150
You have usage in sample folder....
but child_removed doesn't work

[2021-06-14 14:49] JanDa-ma opened #159 "Where-statement"
Hi, is there a way to find an object by a property name?

I am making a login function and now (without a where-statement, I need to load all logins and check them in the back-end. Now, I need to load 26 logins and that is what we call "overloading requests".

Is there a way to pick 1 specific element by property?

[2021-06-24 04:46] Jasonnor opened #161 "Configure FireSharp without using Firebase Admin SDK"
Would anyone know how to use FireSharp without using the Admin SDK? Thanks!

I can't find a way to create database credential. It looks like it is really deprecated. 😢

[2021-06-27 01:55] LeoJHarris opened #162 "Last version release 5/10/2016?"
Was about to add the nuget in this project and noticed last version release 2016 but new recent commits but no recent releases for a few years....?

[2022-01-25 00:39] WTDIAS commented on #150
Hello friend, are you ok? Please, can you help me? I using onAsync in many firebase node. How to know which one fired?
Ex:

usuario 01
    nome: fulano
usuario 02
    nome: ciclano

The listening is on nome: xxx. When it change I need to know if is usuario 01 or usuario 02

Thank you

[2022-02-11 07:40] maheshcmSeq opened #167 "onAsync- notifications"
I have tried the live streaming from the firebase rest api, Its not getting worked. I am working with windows application. I have to build a realtime notification system in the application. So I have used live streaming from the rest api. There was a 403 forbidden error throwing while call OnAsync method. The Firebase endpoint and key is working fine, that is already integrated with the applicatio

[2022-03-20 21:13] garritfra opened #168 "Seeking maintainers?"
Hi!

I just saw your entry on the [Maintainers Wanted](https://github.com/pickhardt/maintainers-wanted) list. I just published a very similar project that's now looking for postings. I'd greatly appreciate if you find some time to check it out, and maybe add your project.

Here's the link to the list:
https://seeking-maintainers.net

Thanks for your time!

[2022-07-12 04:27] sinanopcommerce opened #171 "This package is not for .net6"
It was really a good package for .net framwork 4.x but for core and onward(.net5,.net6) this package is no more work.

[2022-08-13 01:36] 420tech opened #172 "Migrated to .NET 6"
I downloaded a copy of your sources and ported to .NET 6. It was as easy port. I was not able to push commit. I am happy to be a contributor on this project. Let me know

[2022-11-10 10:04] ennydz commented on #161
hello friend
do you find a solution for this ?
firesharp uses admin sdk, so we can't use rules !

[2022-11-10 18:10] Jasonnor commented on #161
Sorry, no. I've probably given up! 😢

[2022-11-11 14:15] ennydz commented on #161
thank you for your reply.
after six months of development and finishing everything,
i must to return to zero because firesharp uses authSecret and bypass all rules !!
Unfortunately,  I'll probably given up too

[2022-11-11 20:25] ennydz opened #175 "how can i protect my database with rules"
hello
FireSharp work with authSecret so , so my server will bypass my Realtime Database Rules
even if my rules are ;

[code]
i have a website (asp.net core 3) with input fields , and all data entered will be saved to firebase database child (realtime database)

can can i protect my database with security rules ?
is it safe to put the auth secret in my own server ?

[2022-11-14 14:50] thaveeshakannangara commented on #172
@420tech  have you tried forking the repo and the creating a pull from the forked repo ?